@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");
body {
  font-family: 'Montserrat', sans-serif;
  background: #112233;
}

.weather-card {
  margin: 60px auto;
  height: 400px;
  width: 750px;
  background: #383232;
  box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
}

.weather-card .top .wrapper {
  padding: 30px;
  position: relative;
  z-index: 1;
}

.weather-card  .bottom {
    background-color: gray;
    width: 420px;

}
.wrapper h4{
    padding: 30px;
}






.weather-card .top .wrapper  {
  margin-top: 20px;
}



.weather-card  h5{
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  vertical-align: top;
  margin-top: 10px;
  padding: 12px 0px 0px 12px;
}
.character-location {
    padding: 12px;
}
.character-location h3{
    color: white;
}
.bottom p{
    font-size: 20px;
    margin: 12px;
    font-weight: 600;
    color: white;
}









